<!DOCTYPE html>
<html lang="pt-BR"

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/homepage.css">
  <title>Rotulo checker</title>
</head>

<body>
  <header>
    <div class="topo">
      <img src="" id="logo">
    </div>
    <nav class="navebar">
      <a class="navegator">Home</a>
      <a class="navegator">Processo</a>
      <a class="navegator">Histórico</a>
      <a class="navegator">Planos</a>
    </nav>
    <div>
      login
    </div>
  </header>

  <main>
    <div class="start">
      <div class="exemple">
        <div class="original">
          <img src="/imagens/teste.jpeg" id="img">
          <div class="text">
            Aumente sua produtividade e agilidade
          </div>
        </div>
        <div class="resultado">
          <div class="text">
            E crie embalagens formatadas corretamente
          </div>
          <img src="/imagens/teste.jpeg" id="img">
        </div>
      </div>
      <div class="options">
        <button>
          Comece Aqui
        </button>
        <button>
          Veja Sobre
        </button>
      </div>
    </div>

    <div class="steps">
      <div class="step1">
        <img src="/imagens/teste.jpeg" id="step1">
        <img src="/imagens/teste.jpeg" id="step2">
      </div>
      <div class="step2">
        <img src="/imagens/teste.jpeg" id="step3">
      </div>
      <div class="step3">
        <img src="/imagens/teste.jpeg" id="img">
        <img src="/imagens/teste.jpeg" id="img">
        <img src="/imagens/teste.jpeg" id="img">
      </div>
    </div>

    <div class="plans">
      <div class="title">
        <h3>Planos</h3>
      </div>
      <div class="options">
        <div class="plan1">
          <h4>Bronze</h4>
        </div>
        <div class="plan2">
          <h4>Prata</h4>
        </div>
        <div class="plan3">
          <h4>Ouro</h4>
        </div>
      </div>
    </div>
  </main>

  <footer>

  </footer>
</body>
</html>