<!DOCTYPE html>
<html lang="pt-BR"

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/homepage.css">
  <title>Rotulo checker</title>
</head>

<body>
  <header>
    <div class="topo">
      <img src="" id="logo">
    </div>
    <nav class="navebar">
      <a class="navegator" href="/template/homepage.html">Home</a>
      <a class="navegator" href="/template/image_process.html">Processo</a>
      <a class="navegator" href="/template/log.html">Histórico</a>
      <a class="navegator" href="/template/plans.html">Planos</a>
    </nav>
    <div class="login">
      <i class="bi bi-person-circle" id="icon"></i>
      <p>login</p>
    </div>
  </header>

  <main>
    <div class="begin">
      <div class="exemple">
        <div class="original">
          <img src="/imagens/teste.jpeg" id="img">
          <div class="text1">
            <p>E crie</p>
            <p>embalagens</p>
            <p style="color: #9150E0">formatadas</p>
            <p>corretamente</p>
          </div>
        </div>
        <div class="resultado">
          <div class="text2">
            <p>Aumente sua</p>
            <p style="color: #9150E0;">produtividade</p>
            <p>e agilidade</p>
          </div>
          <img src="/imagens/teste.jpeg" id="img">
        </div>
      </div>
      <div class="options">
        <button class="start">
          Comece Aqui
        </button>
        <button class="about">
          Veja Sobre
        </button>
      </div>
    </div>

    <div class="steps">
      <div class="step1">
        <img src="/imagens/teste.jpeg" id="step1">
        <img src="/imagens/teste.jpeg" id="step2">
      </div>
      <div class="step2">
        <img src="/imagens/teste.jpeg" id="step3">
      </div>
      <div class="step3">
        <img src="/imagens/teste.jpeg" id="img">
        <i class="bi bi-chevron-double-right" style="font-size: 2rem;"></i>
        <img src="/imagens/teste.jpeg" id="img">
        <i class="bi bi-chevron-double-right" style="font-size: 2rem;"></i>
        <img src="/imagens/teste.jpeg" id="img">
      </div>
    </div>

    <div class="plans">
      <div class="title">
        <h1>Planos</h1>
      </div>
      <div class="plan-options">
        <div class="plan1">
          <h4>Bronze</h4>
        </div>
        <div class="plan2">
          <h4>Prata</h4>
        </div>
        <div class="plan3">
          <h4>Ouro</h4>
        </div>
      </div>
    </div>
  </main>
  <footer>
  </footer>
</body>
</html>