<!DOCTYPE html>
<html lang="pt-BR"

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/homepage.css">
  <link rel="stylesheet" href="/static/image_process.css">
  <title>Rotulo checker</title>
</head>

<body>
  <header>
    <div class="topo">
      <img src="" id="logo">
    </div>
    <nav class="navebar">
      <a class="navegator" href="/template/homepage.html">Home</a>
      <a class="navegator" href="/template/image_process.html">Processo</a>
      <a class="navegator" href="/template/log.html">Histórico</a>
      <a class="navegator" href="/template/plans.html">Planos</a>
    </nav>
    <div class="login">
      <i class="bi bi-person-circle" id="icon"></i>
      <p>login</p>
    </div>
  </header>

  <main>
    <div class="text-info">
      <div class="name">
        <p id="step-name">Processe sua imagem</p>
      </div>
      <div class="process">
        <div class="select_process">
          <div class="process-options">
            <button class="menu ">Enviar imagem</button>
            <button class="menu">Tipo de produto</button>
          </div>
          <div class="image_to_process">
            <img src="/imagens/teste.jpeg" class="img_to_process">
          </div>
          <div class="submit">
            <button class="process_button">Processar</button>
          </div>
        </div>
        <div class="select_process">
          <div class="info_results">
            <img src="/imagens/teste.jpeg" class="processed_img">
          </div>
          <div class="info">
            <p id="errors">3 erros</p>
            <button class="doc">Gerar relatório</button>
          </div>
        </div>
      </div>
      <div class="history">
        <div class="results">
          <p>info 1</p>
        </div>
        <div class="results">
          <p>info 2</p>
        </div>
        <div class="results">
          <p>info 3</p>
        </div>
        <button class="download">Baixar pdf</button>
      </div>
    </div>
  </main>

  <footer>

  </footer>
</body>
</html>