<!DOCTYPE html>
<html lang="pt-BR"

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/homepage.css">
  <link rel="stylesheet" href="/static/log.css">
  <title>Rotulo checker</title>
</head>

<body>
  <header>
    <div class="topo">
      <img src="" id="logo">
    </div>
    <nav class="navebar">
      <a class="navegator">Home</a>
      <a class="navegator">Processo</a>
      <a class="navegator">Histórico</a>
      <a class="navegator">Planos</a>
    </nav>
    <div>
      login
    </div>
  </header>

  <main>
    <div class="filters">
      <div class="data-history">
        <h2>Filtros</h2>
        <div class="filters-options">
          <div class="select">
            <p>Data</p>
            <button>Todos</button>
          </div>
          <div class="select">
            <p>Produto</p>
            <button>Todos</button>
          </div>
          <div class="select">
            <p>corretos</p>
            <input type="checkbox">
          </div>
          <div class="select">
            <p>Errados</p>
            <input type="checkbox">
          </div>
        </div>
      </div>
      <div class="process-results">
        <div class="info-process">
          <div class="img-analyzed">
            <img src="/imagens/teste.jpeg">
          </div>
          <div class="data">
            <p>Data: 11/02/2024</p>
            <p>Produto: Alimento</p>
            <p>Erros: 0</p>
          </div>
          <div class="report">
            <button>Abrir relatório</button>
            <button>Baixar relatório</button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>

  </footer>
</body>
</html>