<!DOCTYPE html>
<html lang="pt-BR"

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/homepage.css">
  <link rel="stylesheet" href="/static/login.css">
  <title>Rotulo checker</title>
</head>

<body>
  <header>
    <div class="topo">
      <img src="" id="logo">
    </div>
    <nav class="navebar">
      <a class="navegator">Home</a>
      <a class="navegator">Processo</a>
      <a class="navegator">Histórico</a>
      <a class="navegator">Planos</a>
    </nav>
    <div>
      login
    </div>
  </header>

  <main>
    <div class="login">
      <div class="begin">
        <h2>Login</h2>
        <h5>register</h5>
      </div>
      <div class="email">
        <p>Email</p>
        <input type="email" class="log">
      </div>
      <div class="password">
        <p>Senha</p>
        <input type="password" class="log">
      </div>
      <div class="submit">
        <div>
          <input type="checkbox" name="check">
          <label for="check">Remember me</label>
        </div>
        <button>Enviar</button>
      </div>
      <div class="others">
        <p>Log with</p>
        <div class="log-options">
          <p>google</p>
          <p>facebook</p>
          <p>github</p>
        </div>
      </div>
    </div>
  </main>

  <footer>

  </footer>
</body>
</html>