<!DOCTYPE html>
<html lang="pt-BR"

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/homepage.css">
  <link rel="stylesheet" href="/static/plans.css">
  <title>Rotulo checker</title>
</head>

<body>
  <header>
    <div class="topo">
      <img src="" id="logo">
    </div>
    <nav class="navebar">
      <a class="navegator">Home</a>
      <a class="navegator">Processo</a>
      <a class="navegator">Histórico</a>
      <a class="navegator">Planos</a>
    </nav>
    <div>
      login
    </div>
  </header>

  <main>
    <div class="offer">
      <div class="name">
        <h1>Planos</h1>
      </div>
      <div class="offer-plans">
        <div class="plan1">
          <p>Bronze</p>
          <button class="contract">Assinar plano</button>
        </div>
        <div class="plan2">
          <p>Prata</p>
          <button class="contract">Assinar plano</button>
        </div>
        <div class="plan3">
          <p>Ouro</p>
          <button class="contract">Assinar plano</button>
        </div>
      </div>
    </div>
  </main>

  <footer>

  </footer>
</body>
</html>