<!DOCTYPE html>
<html lang="pt-BR"

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/homepage.css">
  <link rel="stylesheet" href="/static/register.css">
  <title>Rotulo checker</title>
</head>

<body>
  <header>
    <div class="topo">
      <img src="" id="logo">
    </div>
    <nav class="navebar">
      <a class="navegator">Home</a>
      <a class="navegator">Processo</a>
      <a class="navegator">Histórico</a>
      <a class="navegator">Planos</a>
    </nav>
    <div>
      login
    </div>
  </header>

  <main>
    <div class="register">
      <div class="begin">
        <h2>Register</h2>
        <h5>Login</h5>
      </div>
      <div class="info">
        <p>Nome</p>
        <input type="text" class="log">
      </div>
      <div class="info">
        <p>Sobrenome</p>
        <input type="text" class="log">
      </div>
      <div class="info">
        <p>CPF/CNPJ</p>
        <input type="number" class="log">
      </div>
      <div class="info">
        <p>Telefone</p>
        <input type="number" class="log">
      </div>
      <div class="info">
        <p>CEP</p>
        <input type="number" class="log">
      </div>
      <div class="address">
        <div class="info">
          <p>Rua</p>
          <input type="text" class="log">
        </div>
        <div class="info">
          <p>Numero</p>
          <input type="number" class="log">
        </div>
      </div>
      <div class="address">
        <div class="info">
          <p>Cidade</p>
          <input type="text" class="log">
        </div>
        <div class="info">
          <p>Estado</p>
          <input type="text" class="log">
        </div>
      </div>
      <div class="info">
        <p>Email</p>
        <input type="email" class="log">
      </div>
      <div class="info">
        <p>Senha</p>
        <input type="password" class="log">
      </div>
      <div class="info">
        <p>Confirmar Senha</p>
        <input type="password" class="log">
      </div>
      <div class="submit">
        <button>Enviar</button>
      </div>
    </div>
  </main>

  <footer>

  </footer>
</body>
</html>