body{
  background-color: #393939;
}

.filters{
  background-color: #404040;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 1.5rem;
  margin: 2rem;
  color: white;
}

.data-history{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filters-options{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.select{
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-right: 1rem;
}

.type{
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  border-width: 3px;
  border-style: solid;
  border-color: #D1C764;
  background-color: #D1C764;
  color: black;
  transition: border 0.7s ease;
  transition: border 0.7s ease;
  transition: color 0.3s ease;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.check{
  width: 4rem;
  height: 2rem;
  border-radius: 3rem;
  border-width: 3px;
  border-style: solid;
  border-color: #D1C764;
  background-color: #D1C764;
  color: black;
  transition: border 0.7s ease;
  transition: border 0.7s ease;
  transition: color 0.3s ease;
  font-size: 1rem;
  margin-top: 0.65rem;
  margin-bottom: 2rem;
}

.process-results{
  display: flex;
  flex-direction: column;
  width: 97%;
  padding: 1rem;
  border-radius: 10px;
  border-color: #0b9e0b;
  border-style: solid;
  border-width: 5px;
}

.info-process{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#boot_icon{
  font-size: 3rem;
  color: #0b9e0b;
}

.data{
  width: 20%;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.report{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.open{
  width: 8rem;
  height: 2.5rem;
  border-radius: 1rem;
  border-width: 3px;
  border-style: solid;
  border-color: #D1C764;
  background-color: #D1C764;
  color: black;
  transition: border 0.7s ease;
  transition: border 0.7s ease;
  transition: color 0.3s ease;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.download{
  width: 8rem;
  height: 2.5rem;
  border-radius: 1rem;
  border-width: 3px;
  border-style: solid;
  border-color: #B0433B;
  background-color: #B0433B;
  color: white;
  transition: border 0.7s ease;
  transition: border 0.7s ease;
  transition: color 0.3s ease;
  font-size: 1rem;
  margin-bottom: 1rem;
}
