{% extends "base.html" %}

{% block title %}
Rotulo checker
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/homepage.css">
<link rel="stylesheet" href="/static/image_process.css">
{% endblock %}

{% block content %}
<div class="text-info">
  <div class="name">
    <p id="step-name">Processe sua imagem</p>
  </div>
  <div class="process">
    <div class="select_process">
      <div class="process-options">
        <form action="{{ url_for('processo') }}" method="POST"  enctype="multipart/form-data">
          <input type="file" name="image" accept="image/*" class="">
          <select name="tipo_servico" class="">
            {% for produto in produtos %}
              <option value="{{ produto.id }}">{{ produto.tipo }}</option>
            {% endfor %}
          </select>
          <button type="submit" class="">Enviar</button>
        </form>
      </div>
      <div class="image_to_process">
  <img src="{{ imagem_url if imagem_url else '/imagens/teste.jpeg' }}" class="img_to_process">
</div>
      <div class="submit">
        <button class="process_button">Processar</button>
      </div>
    </div>
    <div class="select_process">
      <div class="info_results">
        <img src="/imagens/teste.jpeg" class="processed_img">
      </div>
      <div class="info">
        <p id="errors">3 erros</p>
        <button class="doc">Gerar relatório</button>
      </div>
    </div>
  </div>
  <div class="history">
    <div class="results">
      <p>info 1</p>
    </div>
    <div class="results">
      <p>info 2</p>
    </div>
    <div class="results">
      <p>info 3</p>
    </div>
    <button class="download">Baixar pdf</button>
  </div>
</div>
{% endblock %}

{% block extra_js %}

<script>
  document.querySelector('input[name="image"]').addEventListener('change', function(event) {
      const file = event.target.files[0]; // Obtém o arquivo selecionado
      if (file) {
          const reader = new FileReader();
          reader.onload = function(e) {
              document.querySelector('.img_to_process').src = e.target.result; // Atualiza a imagem
          };
          reader.readAsDataURL(file); // Converte o arquivo para URL
      }
  });
  </script>



{% endblock %}