{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/login.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="/static/homepage.css">
{% endblock %}

{% block content %}
<div class="label_login">
    <div class="name">
        <h2>Login</h2>
        <a class="reg" href="{{ url_for('register') }}">Registrar</a>
    </div>
    <form action="{{ url_for('login')}}" method="POST">
        <div class="email">
            <p>Email</p>
            <input type="email" name="email" placeholder="Email" class="log" required>
        </div>
        <div class="password">
            <p>Senha</p>
            <input type="password" name="password" placeholder="Senha" class="log" required>
        </div>
        <div class="submit">
            <div>
                <input type="checkbox" name="check">
                <label for="check">Lembrar de mim</label>
            </div>
            <button type="submit" class="send">Enviar</button>
        </div>
    </form>
    <button class="send" id="google-login">Entrar com Google</button>
    <div id="error-message" class="error-message"></div>
</div>
{% endblock %}